<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <h4>Opération Comptable</h4>
    <div>
      <label><strong>Date Opération:</strong></label>
      {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>Recette Aujourd'hui:</strong></label>
      {{ currentTutorial.recipeToday }}
    </div>

    <div>
      <label><strong>Solde mois Précédent:</strong></label>
      {{ currentTutorial.balancePreviousMonth }}
    </div>

    <div>
      <label><strong>Total Recette Courante:</strong></label>
      <h4 style="color: green">{{ currentTutorial.totalRecipeToday |  currency:"دت ":"symbol":'6.3-3'}}</h4>
    </div>

    <div>
      <label><strong>Operation du Trésor Précédente:</strong></label>
      {{ currentTutorial.operationTreasuryAnterior }}
    </div>
    <div>
      <label><strong>Opération du Trésor Courante:</strong></label>
      {{ currentTutorial.operationTreasuryToday }}
    </div>
    <div>
      <label><strong>Total Opérations du Trésor:</strong></label>
      <h4 style="color: blue">{{ currentTutorial.totalOperationTreasury |  currency:"دت ":"symbol":'6.3-3'}}</h4>
    </div>

    <div>
      <label><strong>Operation de Regulation Précédente:</strong></label>
      {{ currentTutorial.operationPreviousRegulation }}
    </div>
    <div>
      <label><strong>Operation de Regulation Courante:</strong></label>
      {{ currentTutorial.operationRegulationToday }}
    </div>
    <div>
      <label><strong>Total Opérations de Régulation :</strong></label>
      <h4 style="color: blue">{{ currentTutorial.totalOperationRegulation |  currency:"دت ":"symbol":'6.3-3'}}</h4>
    </div>

    <div>
      <label><strong>Total Dépenses:</strong></label>
      <h4 style="color: red">{{ currentTutorial.totalExpenses |  currency:"دت ":"symbol":'6.3-3'}}</h4>
    </div>

    <div>
      <label><strong>Solde Courant:</strong></label>
      <h4 style="color: green">{{ currentTutorial.finalBalanceToday |  currency:"دت ":"symbol":'6.3-3'}}</h4>
    </div>

    <div>
      <label><strong>Compte Courant Postal:</strong></label>
      {{ currentTutorial.postCurrentAccount }}
    </div>
    <div>
      <label><strong>Crédit Attendu:</strong></label>
      {{ currentTutorial.creditExpected }}
    </div>
    <div>
      <label><strong>Débit Attendu:</strong></label>
      {{ currentTutorial.rateExpected }}
    </div>

    <div>
      <label><strong>Compte Courant Postal Final:</strong></label>
      <h4 style="color: green">{{ currentTutorial.finalPostCurrentAccount |  currency:"دت ":"symbol":'6.3-3'}}</h4>
    </div>

    <div>
      <label><strong>Autres Valeurs:</strong></label>
      {{ currentTutorial.otherValues }}
    </div>
    <div>
      <label><strong>États de Répartition:</strong></label>
      {{ currentTutorial.statesRepartition }}
    </div>

    <div>
      <label><strong>Total Numéraire:</strong></label>
      <h4 style="color: green">{{ currentTutorial.totalCash |  currency:"دت ":"symbol":'6.3-3'}}</h4>
    </div>

    <div>
      <label><strong>Argents en Espèce:</strong></label>
      {{ currentTutorial.moneySpecies }}
    </div>

    <div>
      <label><strong>Argents en Espèce chez le Caissier:</strong></label>
      <h4 style="color: green">{{ currentTutorial.moneyOnCashier |  currency:"دت ":"symbol":'6.3-3'}}</h4>
    </div>

    <div>
      <label><strong>Code Organism:</strong></label>
      {{ currentTutorial.organismId }}
    </div>

    <div>
      <label><strong>État d'opération:</strong></label>
      {{ currentTutorial.published ? "Publié" : "en Instance" }}
    </div>

    <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
      Éditer
    </a>
  </div>
  <div *ngIf="!currentTutorial">
    <br/>
    <p>cliquer sur une Opération...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Opération Comptable</h4>
    <form>
      <div class="form-group">
        <label for="title">Date Opération</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="recipeToday">Recette Courante</label>
        <input
          type="text"
          class="form-control"
          id="recipeToday"
          [(ngModel)]="currentTutorial.recipeToday"
          name="recipeToday"
        />
      </div>
      <div class="form-group">
        <label for="balancePreviousMonth">Solde Mois Précédent</label>
        <input
          type="text"
          class="form-control"
          id="balancePreviousMonth"
          [(ngModel)]="currentTutorial.balancePreviousMonth"
          name="balancePreviousMonth"
        />
      </div>
      <div class="form-group">
        <label for="operationTreasuryAnterior">Opération du Trésor Antérieure</label>
        <input
          type="text"
          class="form-control"
          id="operationTreasuryAnterior"
          [(ngModel)]="currentTutorial.operationTreasuryAnterior"
          name="operationTreasuryAnterior"
        />
      </div>
      <div class="form-group">
        <label for="operationTreasuryToday">Opération du Trésor Courante</label>
        <input
          type="text"
          class="form-control"
          id="operationTreasuryToday"
          [(ngModel)]="currentTutorial.operationTreasuryToday"
          name="operationTreasuryToday"
        />
      </div>
      <div class="form-group">
        <label for="operationPreviousRegulation">Opération de Régulation Antérieure</label>
        <input
          type="text"
          class="form-control"
          id="operationPreviousRegulation"
          [(ngModel)]="currentTutorial.operationPreviousRegulation"
          name="operationPreviousRegulation"
        />
      </div>
      <div class="form-group">
        <label for="operationRegulationToday">Opération de Regulation Courante</label>
        <input
          type="text"
          class="form-control"
          id="operationRegulationToday"
          [(ngModel)]="currentTutorial.operationRegulationToday"
          name="operationRegulationToday"
        />
      </div>
      <div class="form-group">
        <label for="postCurrentAccount">Compte Courant Postal</label>
        <input
          type="text"
          class="form-control"
          id="postCurrentAccount"
          [(ngModel)]="currentTutorial.postCurrentAccount"
          name="postCurrentAccount"
        />
      </div>
      <div class="form-group">
        <label for="creditExpected">Crédit Attendu</label>
        <input
          type="text"
          class="form-control"
          id="creditExpected"
          [(ngModel)]="currentTutorial.creditExpected"
          name="creditExpected"
        />
      </div>

      <div class="form-group">
        <label for="rateExpected">Débit Attendu</label>
        <input
          type="text"
          class="form-control"
          id="rateExpected"
          [(ngModel)]="currentTutorial.rateExpected"
          name="rateExpected"
        />
      </div>
      <div class="form-group">
        <label for="otherValues">Autres Valeurs</label>
        <input
          type="text"
          class="form-control"
          id="otherValues"
          [(ngModel)]="currentTutorial.otherValues"
          name="otherValues"
        />
      </div>
      <div class="form-group">
        <label for="statesRepartition">Etats de Répartition</label>
        <input
          type="text"
          class="form-control"
          id="statesRepartition"
          [(ngModel)]="currentTutorial.statesRepartition"
          name="statesRepartition"
        />
      </div>
      <div class="form-group">
        <label for="moneySpecies">Argents en Espèce:</label>
        <input
          type="text"
          class="form-control"
          id="moneySpecies"
          [(ngModel)]="currentTutorial.moneySpecies"
          name="moneySpecies"
        />
      </div>
      <div class="form-group">
        <label for="organismId">organismId</label>
        <input
          type="text"
          class="form-control"
          id="organismId"
          [(ngModel)]="currentTutorial.organismId"
          name="organismId"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>État d'opération:</strong></label>
        {{ currentTutorial.published ? "Publie" : "en Instance" }}
      </div>
    </form>


    <button class="badge badge-primary mr-2"
            (click)="updatePublished(false)">
      Ne Pas Publier
    </button>

    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2" (click)="updatePublished(true)">
      Publier
    </button>


    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Supprimer
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()">
      Mettre à Jour
    </button>
    <p>{{ message }}</p>
    <div class="alert alert-success">{{ message }}</div>
    <div *ngIf="!currentTutorial.id">
      <br/>
      <p>Cannot access this Tutorial...</p>
    </div>
  </div>
</ng-template>
